<hello name="{{ name }}"></hello>

<p>{{ title }}</p>

<h1>Hello is the</h1>

<h2>{{ getData() }}</h2>

<h2>{{ getData1() }}</h2>

<p>Name: {{ obj.name }}</p>
<p>Age: {{ obj.age }}</p>

<h4>{{ 5 * 5 }}</h4>

<h4>{{ a * b }}</h4>
<h4>{{ a + b }}</h4>
<h4>{{ a - b }}</h4>
<h4>{{ a / b }}</h4>

<button (click)="GetAdd()">Get Addition</button>

<button (click)="GetValuebyParam('Welcome to App')">GetValuebyParam</button>

<p></p>
Name:<input type="text" (keyup)=GetValue1($any($event.target).value)>
<p></p>
<h1>{{strName}}</h1>

<p></p>
<!-- value1:<input type="number" #num1[value]="number1">
<br>
value2:<input type="number" #num2[value]="number2">
<br>
<button (click)="calc(num1.value,num2.value)">ADD</button>
<h3>Addition is: {{sum}}</h3> -->


